@page
@model WebApplication1.Pages.Groups.IndexModel

<p>
    <a asp-page="Create">Создать запись</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Куратор
            </th>
            <th>
                Группа
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Group) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCurator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameGroup)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdGroup">Изменить</a> |
                <a asp-page="./Details" asp-route-id="@item.IdGroup">Просмотр</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdGroup">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
