@page
@model WebApplication1.Pages.EngagementWithParentss.DetailsModel

<div>
    <h4>EngagementWithParents</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Дата
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EngagementWithParents.DateConversation)
        </dd>
        <dt class="col-sm-2">
            Студент
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EngagementWithParents.IdStudent)
        </dd>
        <dt class="col-sm-2">
            Суть
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EngagementWithParents.EssenceOfConversation)
        </dd>
        <dt class="col-sm-2">
            Принятое решение
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EngagementWithParents.AcceptedDecision)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.EngagementWithParents?.IdEngagementWithParents">Изменить</a> |
    <a asp-page="./Index">Вернуться к таблице</a>
</div>
