@page
@model WebApplication1.Pages.EngagementWithParentss.IndexModel

<p>
    <a asp-page="Create">Создать запись</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Дата
            </th>
            <th>
                Студент
            </th>
            <th>
                Суть
            </th>
            <th>
                Принятое решение
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.EngagementWithParents) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateConversation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdStudent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EssenceOfConversation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcceptedDecision)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdEngagementWithParents">Изменить</a> |
                <a asp-page="./Details" asp-route-id="@item.IdEngagementWithParents">Просмотр</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdEngagementWithParents">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
