@page
@model WebApplication1.Pages.ExtracurricularEmploymentOfStudentss.DetailsModel

<div>
    <h4>ExtracurricularEmploymentOfStudents</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Курс
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExtracurricularEmploymentOfStudents.IdCourse)
        </dd>
        <dt class="col-sm-2">
            Студент
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExtracurricularEmploymentOfStudents.IdStudent)
        </dd>
        <dt class="col-sm-2">
            Деятельность в колледже
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExtracurricularEmploymentOfStudents.CollegeActivity)
        </dd>
        <dt class="col-sm-2">
            Деятельность вне колледжа
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExtracurricularEmploymentOfStudents.ActivitiesOutsideCollege)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ExtracurricularEmploymentOfStudents?.IdExtracurricularEmploymentOfStudents">Изменить</a> |
    <a asp-page="./Index">Вернуться к таблице</a>
</div>
