@page
@model WebApplication1.Pages.IndividualWorkWithStudentss.DetailsModel

<div>
    <h4>IndividualWorkWithStudents</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Дата
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IndividualWorkWithStudents.DateConversation)
        </dd>
        <dt class="col-sm-2">
            Студент
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IndividualWorkWithStudents.IdStudent)
        </dd>
        <dt class="col-sm-2">
            Суть
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IndividualWorkWithStudents.EssenceOfConversation)
        </dd>
        <dt class="col-sm-2">
            Принятое решение
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IndividualWorkWithStudents.AcceptedDecision)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.IndividualWorkWithStudents?.IdIndividualWorkWithStudents">Изменить</a> |
    <a asp-page="./Index">Вернуться к таблице</a>
</div>
