@page
@model WebApplication1.Pages.Authentications.IndexModel

<p>
    <a asp-page="Create">Создать запись</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Куратор
            </th>
            <th>
                Логин
            </th>
            <th>
                Пароль
            </th>
            <th>
                Тип пользователя
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Authentication) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCurator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUser)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdAuthentication">Изменить</a> |
                <a asp-page="./Details" asp-route-id="@item.IdAuthentication">Просмотр</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdAuthentication">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
