@page
@model WebApplication1.Pages.ActiveGroups.DetailsModel

<div>
    <h4>ActiveGroup</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Группа
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActiveGroup.IdGroup)
        </dd>
        <dt class="col-sm-2">
            Староста
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActiveGroup.Warden)
        </dd>
        <dt class="col-sm-2">
            Заместитель старосты
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActiveGroup.DeputyWarden)
        </dd>
        <dt class="col-sm-2">
            Комитет по учебной деятельности
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActiveGroup.CommitteeForEducationalActivities)
        </dd>
        <dt class="col-sm-2">
            Редакционный комитет
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActiveGroup.DraftingCommittee)
        </dd>
        <dt class="col-sm-2">
            Комитет по спорту
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActiveGroup.SportsCommittee)
        </dd>
        <dt class="col-sm-2">
            Комитет по трудовой деятельности
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActiveGroup.LaborCommittee)
        </dd>
        <dt class="col-sm-2">
            Комитет по культурно-массовой работе
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActiveGroup.CommitteeForCulturalWork)
        </dd>
        <dt class="col-sm-2">
            Стипендиальная комиссия
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActiveGroup.ScholarshipCommission)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ActiveGroup?.IdActiveGroup">Изменить</a> |
    <a asp-page="./Index">Вернуться к таблице</a>
</div>
