@page
@model WebApplication1.Pages.ActiveGroups.IndexModel

<p>
    <a asp-page="Create">Создать запись</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Группа
            </th>
            <th>
                Староста
            </th>
            <th>
                Заместитель старосты
            </th>
            <th>
                Комитет по образовательной деятельности
            </th>
            <th>
                Редакционный комитет
            </th>
            <th>
                Комитет по спорту
            </th>
            <th>
                Комитет по трудовой деятельности
            </th>
            <th>
                Комитет по культурно-массовой работе
            </th>
            <th>
                Стипендиальная комиссия
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ActiveGroup) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdGroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Warden)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeputyWarden)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommitteeForEducationalActivities)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DraftingCommittee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SportsCommittee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LaborCommittee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommitteeForCulturalWork)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScholarshipCommission)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdActiveGroup">Изменить</a> |
                <a asp-page="./Details" asp-route-id="@item.IdActiveGroup">Просмотр</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdActiveGroup">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
