@page
@model WebApplication1.Pages.AccountingForClassHoursByStudentss.IndexModel

<p>
    <a asp-page="Create">Создать запись</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Студент
            </th>
            <th>
                Дата классного часа
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AccountingForClassHoursByStudents) {
        <tr>
            <td>
                    <asp:BoundField DataField="Name" HeaderText="Имя" SortExpression="Name" />
                    @Html.DisplayFor(modelItem => item.IdStudent)   
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassHourDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdAccountingForClassHoursByStudents">Изменить</a> |
                <a asp-page="./Details" asp-route-id="@item.IdAccountingForClassHoursByStudents">Просмотр</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdAccountingForClassHoursByStudents">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
