@page
@model WebApplication1.Pages.AccountingForClassHoursByStudentss.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountingForClassHoursByStudents[0].IdStudent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountingForClassHoursByStudents[0].ClassHourDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AccountingForClassHoursByStudents) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.IdStudent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassHourDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdAccountingForClassHoursByStudents">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.IdAccountingForClassHoursByStudents">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdAccountingForClassHoursByStudents">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
