@page
@model WebApplication1.Pages.Curators.IndexModel

<p>
    <a asp-page="Create">Создать запись</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Фамилия
            </th>
            <th>
                Имя
            </th>
            <th>
                Отчество
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Curator) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdCurator">Изменить</a> |
                <a asp-page="./Details" asp-route-id="@item.IdCurator">Просмотр</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdCurator">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
